<h3>Current Weather for {{name}}</h3>
<p>Current Temperature is {{main.temp}}&deg;F</p>
<div>
	<p>{{weather.[0].description}}</p>
	<img src="http://openweathermap.org/img/w/{{weather.[0].icon}}.png" alt={{weather.[0].main}}>
</div>
<p>Current Wind Speed: {{wind.speed}}mph</p>
