{{#each weather}}
<div class="col-md-4">
	<h3>Your weather for {{cityName}} on {{dt}}</h3>
	<p>Your temperature on this day was {{temperature}}&deg;F</p>
	<div>
		<p>{{conditions}}</p>
		<img src="http://openweathermap.org/img/w/{{weatherIcon}}.png" alt={{conditions}}>
	</div>
</div>
{{/each}}